{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <title>Página Inicial</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary p-2">
        
    <div  id="layoutSidenav_nav" >
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="">        
              <a href="{% url 'getGateway' %}">           
                  <img src="./../static/logo_app.png" widht="70" height="70" class="pt-2 " alt="Logo AlLoRa">
              </a>
          </div>
        </ul>
        <ul class="navbar-nav p-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'getGateway' %}" style="color: #4CA1D9; font-weight: bold; font-size: larger;">Gateway</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'getNodos' %}" style="color: #4CA1D9; font-weight: bold; font-size: larger;">Nodes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'getData' %}" style="color: #4CA1D9; font-weight: bold; font-size: larger;">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: #4CA1D9; font-weight: bold; font-size: larger;">Dashboard</a>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>
  <hr class="" color="#4CA1D9" style="width: 100%;">
      
      <div class="p-3">
        <form action="{% url 'getNodos' %}" method="get">
            {% csrf_token %}
            <div
                class="row justify-content-center text-center"
                style="max-height: 200px; overflow: hidden"
            >
                <h3>Gateway</h3>
            </div>
                  <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="card p-2">
                    <table class="table table-striped table-hover" id="tabla">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Mesh Mode</th>
                                <th scope="col">Frecuency</th>
                                <th scope="col">Spreading Factor</th>
                                <th scope="col"> </th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{gateway.name}}</td>
                                <td>{{gateway.mesh_mode}}</td>
                                <td>{{gateway.frecuency}}</td>
                                <td>{{gateway.sf}}</td>
                                <td>
                                  {% if gateway.state %}
                                  <form action="" method="get">
                                    
                                    <a href="{% url 'getGateway' %}?stop=1">
                                        <button
                                            type="button"
                                            class="btn btn-floating"
                                            style="background-color: grey; color: white;">
                                            <i class="fas fa-stop"></i>
                                        </button>
                                    </a>
                                
                                  </form>
                                  {% else %}
                                        <form action="" method="get">
                                          
                                          <a href="{% url 'getGateway' %}?activateg=1">
                                              <button
                                                  type="button"
                                                  class="btn btn-floating"
                                                  style="background-color: #88C139; color: white;">
                                                  <i class="fas fa-play"></i>
                                              </button>
                                          </a>
                                      
                                  </form>
                                  {% endif %}
                            </td>
                            <td>
                              <form action="" method="get">
                                    
                                <a href="{% url 'getGateway' %}?reload=1">
                                    <button
                                        type="button"
                                        class="btn btn-floating"
                                        style="background-color: #4CA1D9; color: white;">
                                        <i class="fas fa-redo-alt"></i>
                                    </button>
                                </a>
                            
                              </form>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </form>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <div id="map"></div>
      </div>
</body>
<script>
  var map = L.map('map').setView([51.505, -0.09], 13);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap'
  }).addTo(map);
</script>

</html>